<%- include('partials/header.ejs') %>

<h1>Welcome to my blog app</h1>
<div class="index-container">
    <h3>Here you can create your own blogs and view them all in one place </h3>
    <div class="button-container">
        <form action="/views/create-edit" method="get">
            <input type="submit" value="Create a new blog">
        </form>

        <form action="/views/view-post.ejs" method="get">
            <input type="submit" value="View your blogs">
    </form>
</div>
</div>

<%- include('partials/footer.ejs') %>